<!--
<label class="label-card">
  <input class="input-card" type="checkbox" />
    <div class="flip-card">
        <div class="front">
      <h2> {{phrase}} </h2>
      <p>Click to flip</p>
        </div>
      <div class="back">
      <h2> {{translation}} </h2>
      <hr>
      <h4> {{meaning}} </h4>
      <hr>
      <p class="click">Click to flip</p>
    </div>
  </div>
</label>


///////////////////// css 
.box-sizing{
  border-box;
}

.label-card {
  transform-style preserve-3d;
  transform: translate(-50%, 50%);
  cursor: pointer;
}

 .flip-card {
   transform-style: preserve-3d;
   transition: all o.5s ease-in-out;
 }

 .flip-card .front,
 .flip-card .back {
   text-align: center;
   backface-visibility: hidden;
   border-radius: 0 20px 0 20px;
 }

 .flip-card .back {
   transform: rotateX(180deg);
 }

 .label-card:hover .flip-card {
   transform: rotateX(2deg);
   box-shadow: 0 20px 20px rgba(50, 60, 60, 02);

 }

.input-card {
  display: none;
}

:checked + .flip-card {
  transform: rotateX(180deg);
}

.label-card:hover :checked + .flip-card {
  transform: rotateX(175deg);
  box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);
}

.front h2 {
  font-size: 22px;
  margin: 0;
}

  //////.front p {
  font-size: 14px;
  margin: 0 0 35px 0;
  text-align: center;
  display: block;
}   //////

.front p,
.back .click {
  font-size: 18px;
  font-weight: 400;
}

.back h2 {
  margin: 30px 0 0 0 ;
}

hr {
  width 180px;
  margin: 15px auto 10px auto;
}

.back h4 {
  font-size: 18px;
  padding: 0 18px;
  line-height: 20px;
  text-align: center;
  margin: 0 auto;
}



///////////////Avatar imgs 
<img src="images/Avatar_Dog-512.png" class="avatar"/>
    <img src="images/avatar-pingu.png" class="avatar"/>
    <img src="images/avatar-profile-cat.png" class="avatar"/>
    <img src="images/owl-avatar.jpg" class="avatar"/>
    <img src="images/panda-avatar.jpg" class="avatar"/>

LOG IN / SIGN UP EXAMPLE???? 

<body>
  <div class="login-box">
    <img src="images/avatar-profile-cat.png" class="avatar"/>
    <h2>Login Here</h2>
    <form>
      <p>Username</p>
      <input type="text" name="username" placeholder="Enter Username">
      <p>Password</p>
      <input type="password" name="password" placeholder="Enter Password">
      <input type="submit" name="submit" value="Login">

    </form>
  </div>
</body>



.body{
  background-color : #0033CC;
  background-position: center;
}
.login-box {
  width: 320px;
  height: 420px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

h2 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login-box p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input [type="text"], input [type="email"],input [type="password"] {
  border: none;
  border-bottom: 1px solid black #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login-box input [type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #1c8adb;
  color: #fff;
  font-size: 18px;
  border-radius: 15px;
}

.login-box input [type="submit"]:hover {
  cursor: pointer;
  background: #34d2eb;
  color: #000;
}



-->




