<!-- <h1>Contact us</h1>


<form action="/contacts" method="POST">
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
   <div class="form-group">
    <label for="exampleFormControlSelect1" required>Subject</label>
     <input type="text" class="form-control" id="exampleFormControlInput1">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Talk to us</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
  </div>
   <button type="submit" class="btn btn-primary">Submit email</button>
</form> -->

<div class="body">

  <div class="contactus-box ">
   
    <h2>Contact Us </h2>
   <form action="/contacts" method="POST">
      <p>Email</p>
       <input type="email" name="email" placeholder="Enter Email" required>
      <p>Subject</p>
      <input type="text" name="subject" placeholder="Enter Subject" required>
      <p>Talk to us</p>
       <textarea class="textareas"  name="message" rows="3" cols="74"></textarea>
     
      <button class="login-btn" type="submit">Send</button>
      </form>
  </div>


</div>