<div class="div-form-create">
  <h1>Share Your Expression</h1>


  <form action="/create" method="POST">
    <div class="form-group">
      <label for="exampleFormControlInput1">Phrase</label>
      <textarea class="forms-control" name="phrase" cols="70" rows="2" required></textarea>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Translation</label>
      <textarea class="forms-control" name="translation" cols="70" rows="2" required></textarea>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Meaning</label>
      <textarea class="forms-control" name="meaning" cols="70" rows="10" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>