<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>




{{#if user}}
  <p>Welcome back {{user.username}} </p>
  <form action="/logout" method="POST">
  <button type="submit">Logout</button>
  </form>
{{else}}
  <a href="/login">Login</a>
{{/if}}


<div class="card-deck ">
  <div class="row">
    <div class="card col-4">
      <div class="card-body">
        <div class="volume-icon"><img src="../images/volume.png" alt="text-to-speech"></div>
        <h3 class="card-title">Not even if the cow coughs</h3>
      </div>
      <div class="thumbsup-icon"><img src="../images/thumbs_up.png" alt="like-button"></div>
    </div>
    <div class="card col-4">
      <div class="card-body">
        <div class="volume-icon"><img src="../images/volume.png" alt="text-to-speech"></div>
        <h3 class="card-title">What a Zé Anthony</h3>
      </div>
      <div class="thumbsup-icon"><img src="../images/thumbs_up.png" alt="like-button"></div>
    </div>
    <div class="card col-4">
      <div class="card-body">
        <div class="volume-icon"><img src="../images/volume.png" alt="text-to-speech"></div>
        <h3 class="card-title">Seeing yourself greek</h3>
      </div>
      <div class="thumbsup-icon"><img src="../images/thumbs_up.png" alt="like-button"></div>
    </div>
  </div>
  <div class="row">
    <div class="card col-4">
      <div class="card-body">
        <div class="volume-icon"><img src="../images/volume.png" alt="text-to-speech"></div>
        <h3 class="card-title">I'll go to your horns</h3>
      </div>
      <div class="thumbsup-icon"><img src="../images/thumbs_up.png"
            alt="like-button"></div>
    </div>
    <div class="card col-4">
      <div class="card-body">
        <div class="volume-icon"><img src="../images/volume.png"
              alt="text-to-speech"></div>
        <h3 class="card-title">Having the king in the belly</h3>
      </div>
      <div class="thumbsup-icon"><img src="../images/thumbs_up.png"
            alt="like-button"></div>
    </div>
    <div class="card col-4">
      <div class="card-body">
        <div class="volume-icon"><img src="../images/volume.png"
              alt="text-to-speech"></div>
        <h3 class="card-title">Being with the olive oils</h3>
      </div>
      <div class="thumbsup-icon"><img src="../images/thumbs_up.png"
            alt="like-button"></div>
    </div>
  </div>
</div>