<h1>{{title}}</h1>
<p>Welcome to {{username}}</p>

<div class="card-deck container-fluid">
  {{#each cards}}
  <div class="mycard col-3">
    <div class="mycard-body">
      <audio controls><source src="{{phraseAudioEng}}" type="audio/mpeg"></audio>
      <h3 class="mycard-title">{{phrase}}</h3>
    </div>
  </div>
  {{/each}}
</div>

