<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>



<div class="card-deck container">
  <div class="row top-row">
    <div class="card col-4">
      <div class="card-body">
        <div class="volume-icon"><button class="btn-volume-icon"><img src="../images/audio.png" alt="text-to-speech"></button></div>
        <h3 class="card-title">Not even if the cow coughs</h3>
      </div>
      <div class="thumbsup-icon"><button class="btn-thumbsup-icon"><img src="../images/thumbs_up.png" alt="like-button"></button></div>
    </div>
    <div class="card col-4">
      <div class="card-body">
        <div class="volume-icon"><button class="btn-volume-icon"><img src="../images/audio.png" alt="text-to-speech"></button></div>
        <h3 class="card-title">What a Zé Anthony</h3>
      </div>
      <div class="thumbsup-icon"><button class="btn-thumbsup-icon"><img src="../images/thumbs_up.png" alt="like-button"></button></div>
    </div>
    <div class="card col-4">
      <div class="card-body">
        <div class="volume-icon"><button class="btn-volume-icon"><img src="../images/audio.png" alt="text-to-speech"></button></div>
        <h3 class="card-title">Seeing yourself greek</h3>
      </div>
      <div class="thumbsup-icon"><button class="btn-thumbsup-icon"><img src="../images/thumbs_up.png" alt="like-button"></button></div>
    </div>
  </div>
  <div class="row">
    <div class="card col-4">
      <div class="card-body">
        <div class="volume-icon"><button class="btn-volume-icon"><img src="../images/audio.png" alt="text-to-speech"></button></div>
        <h3 class="card-title">I'll go to your horns</h3>
      </div>
      <div class="thumbsup-icon"><button class="btn-thumbsup-icon"><img src="../images/thumbs_up.png" alt="like-button"></button></div>
    </div>
    <div class="card col-4">
      <div class="card-body">
        <div class="volume-icon"><button class="btn-volume-icon"><img src="../images/audio.png" alt="text-to-speech"></button></div>
        <h3 class="card-title">Having the king in the belly</h3>
      </div>
      <div class="thumbsup-icon"><button class="btn-thumbsup-icon"><img src="../images/thumbs_up.png" alt="like-button"></button></div>
    </div>
    <div class="card col-4">
      <div class="card-body">
        <div class="volume-icon"><button class="btn-volume-icon"><img src="../images/audio.png" alt="text-to-speech"></button></div>
        <h3 class="card-title">Being with the olive oils</h3>
      </div>
      <div class="thumbsup-icon"><button class="btn-thumbsup-icon"><img src="../images/thumbs_up.png" alt="like-button"></button></div>
    </div>
  </div>
</div>