<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="card-deck ">
  <div class="row">
    <div class="card col-4">
      <div class="card-body">
        <form action="/:cardId" method="POST">
          <div class="volume-icon"><button type="submit"><img src="../images/volume.png" alt="text-to-speech"></button></div>
        </form>
        <h3 class="card-title">Not even if the cow coughs</h3>
      </div>
    </div>
    <div class="card col-4">
      <div class="card-body">
        <div class="volume-icon"><img src="../images/volume.png" alt="text-to-speech"></div>
        <h3 class="card-title">What a Zé Anthony</h3>
      </div>
    </div>
    <div class="card col-4">
      <div class="card-body">
        <div class="volume-icon"><img src="../images/volume.png" alt="text-to-speech"></div>
        <h3 class="card-title">Seeing yourself greek</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card col-4">
      <div class="card-body">
        <div class="volume-icon"><img src="../images/volume.png" alt="text-to-speech"></div>
        <h3 class="card-title">I'll go to your horns</h3>
      </div>
    </div>
    <div class="card col-4">
      <div class="card-body">
        <div class="volume-icon"><img src="../images/volume.png"
              alt="text-to-speech"></div>
        <h3 class="card-title">Having the king in the belly</h3>
      </div>
    </div>
    <div class="card col-4">
      <div class="card-body">
        <div class="volume-icon"><img src="../images/volume.png"
              alt="text-to-speech"></div>
        <h3 class="card-title">Being with the olive oils</h3>
      </div>
    </div>
  </div>
</div>