<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/signup">Signup</a>
<!-- aqui 6 cards hardcoded --> 

{{#if user}}
  <p>Welcome back {{user.username}} </p>
  <form action="/logout" method="POST">
  <button type="submit">Logout</button>
  </form>
{{else}}
  <a href="/login">Login</a>
{{/if}}
