body {
  padding: 50px;
  font: 14px 'Roboto Condensed', sans-serif;
}

a {
  color: #00B7FF;
}

//Web Page Layout

.row {
  margin-top:30px;
  width: 100%;
}

.card{
  height: 300px;
  width: 300px;
}

h1 {
  padding-top: 70px;
  padding-bottom: 20px;
}


//NavBar

.form-control { //Also Signup and Login Form
  width: 30% !important;
}
.search-form{
  width: 50% ;
  display: flex;
  justify-content: flex-end;
}
.btn-outline-success {
  margin-right: 30px;
  margin-left: 20px;
  width: 130px;
  font-size: 23px !important;
}
.search-bar{
  width: 60% !important;
  font-size: 23px !important;
}
nav {
  height: 90px;
  font-size: 23px;
  background-color: #4257B2 !important;
}

.navbar-brand {
  margin-left: 20px;
  padding-right: 30px;
}

.nav-item{
  padding-right: 20px;
}

.logout-btn {
  border: none;
  background-color: #4257B2; 
}

.form-controls {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
  color: white;
  background-color: #4257B2 ;
  background-clip: padding-box;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

input[type="search"]:placeholder{
  color: white;
  font-weight: bold;
}

input {
  outline: none;
}

//Index

.front-card {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

//Cards

.volume-icon {
  margin-top: 8px;
  height: 25px;
  display: flex;
  justify-content: flex-end;
}

.volume-icon img {
  width: 25px;
  height: 25px;
}

.text-to-speech {
  border: none;
  margin-top: 10px;
}

.thumbsup-icon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2.5%;
}

.thumbsup-icon img {
  width: 25px;
  height: 25px;
}

.btn-thumbsup-icon {
  background-color: white;
  border: none;
}

.card-title {
  text-align: center;
  position: relative;
  top: 70px;
}

//MAIN
.mycard {
  border: 1px solid black;
  width: 100px;
  height: 250px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
}

.mycard-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.volume-main-icon {
  margin-top: 15px;
  margin-right: 10px;
  height: 25px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.volume-main-icon img {
  width: 25px;
  height: 25px;
}

.mycard-title {
  text-align: center;
}






//////////////// new signup and login

.body{
  background-color : #0033CC ;
  background-position: center;
}
.login-box {
  width: 410px;
  height: 480px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

h2 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login-box p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.login-box input {
  width: 100%;
  margin-bottom: 30px;
}

.login-box input [type="text"], input [type="email"],input [type="password"] {
  border: none;
  border-bottom: 1px solid black #fff;
  background: transparent;
  outline: none;
  ///height: 30px;
  color: #fff;
  font-size: 16px;
}

.login-btn  {
  border: none;
  outline: none;
 ///// height: 20px;
  background:  #4257B2;
  color: #fff;
  font-size: 18px;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 20px;
}

.login-btn:hover {
  cursor: pointer;
  background: #3a5ae7;
  color: #000;
}

.login-box p {
  font-size: 20px;
}

////////////////new card with filp?
body{
  box-sizing: border-box;
}

.label-card {
  transform-style: preserve-3d;
  transform: translate(-50%, 50%);
  cursor: pointer;
}

 .flip-card {
   transform-style: preserve-3d;
   transition: all 0.5s ease-in-out;
 }

 .flip-card .front,
 .flip-card .back {
   text-align: center;
   backface-visibility: hidden;
   border-radius: 0 20px 0 20px;
 }

 .flip-card .back {
   transform: rotateX(180deg);
 }

 .label-card:hover .flip-card {
   transform: rotateX(2deg);
   box-shadow: 0 20px 20px rgba(50, 60, 60, 02);

 }

.input-card {
  display: none;
}

:checked + .flip-card {
  transform: rotateX(180deg);
}

.label-card:hover :checked + .flip-card {
  transform: rotateX(175deg);
  box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);
}

.front h3 {
  font-size: 22px;
  margin: 0;
}

  /*.front p {
  font-size: 14px;
  margin: 0 0 35px 0;
  text-align: center;
  display: block;
}   */

.front p,
.back .click {
  font-size: 18px;
  font-weight: 400;
}

.back h3 {
  margin: 30px 0 0 0 ;
}

hr {
  width :180px;
  margin: 15px auto 10px auto;
}

.back h3 {
  font-size: 18px;
  padding: 0 18px;
  line-height: 20px;
  text-align: center;
  margin: 0 auto;
}