body {
  padding: 50px;
  font: 14px 'Roboto Condensed', sans-serif; }

a {
  color: #00B7FF; }

.row {
  margin-top: 30px;
  width: 100%; }

.card {
  height: 300px;
  width: 300px; }

h1 {
  padding-top: 70px;
  padding-bottom: 20px; }

.form-control {
  width: 30% !important; }

.search-form {
  width: 50%;
  display: flex;
  justify-content: flex-end; }

.btn-outline-success {
  margin-right: 30px;
  margin-left: 20px;
  width: 130px;
  font-size: 23px !important; }

.search-bar {
  width: 60% !important;
  font-size: 23px !important; }

nav {
  height: 90px;
  font-size: 23px;
  background-color: #4257B2 !important; }

.navbar-brand {
  margin-left: 20px;
  padding-right: 30px; }

.nav-item {
  padding-right: 20px; }

.logout-btn {
  border: none;
  background-color: #4257B2; }

.form-controls {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
  color: white;
  background-color: #4257B2;
  background-clip: padding-box;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }

input[type="search"]:placeholder {
  color: white;
  font-weight: bold; }

input {
  outline: none; }

.front-card {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.volume-icon {
  margin-top: 8px;
  height: 25px;
  display: flex;
  justify-content: flex-end; }

.volume-icon img {
  width: 25px;
  height: 25px; }

.text-to-speech {
  border: none;
  margin-top: 10px; }

.thumbsup-icon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2.5%; }

.thumbsup-icon img {
  width: 25px;
  height: 25px; }

.btn-thumbsup-icon {
  background-color: white;
  border: none; }

.card-title {
  text-align: center;
  position: relative;
  top: 70px; }

.mycard {
  border: 1px solid black;
  width: 100px;
  height: 250px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px; }

.mycard-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%; }

.volume-main-icon {
  margin-top: 15px;
  margin-right: 10px;
  height: 25px;
  display: flex;
  justify-content: flex-end;
  width: 100%; }

.volume-main-icon img {
  width: 25px;
  height: 25px; }

.mycard-title {
  text-align: center; }

body {
  font-family: sans-serif; }

.scene {
  width: 200px;
  height: 260px;
  border: 1px solid #CCC;
  margin: 40px 0;
  perspective: 600px; }

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative; }

.card.is-flipped {
  transform: rotateY(180deg); }

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.card__face--front {
  background: red; }

.card__face--back {
  background: blue;
  transform: rotateY(180deg); }

.thumbsdown-img {
  width: 25px;
  height: 25px; }

.btn-thumbsdown-img {
  background-color: white;
  border: none; }

/*# sourceMappingURL=style.css.map */